---
# handlers file for squid
- name: test squid configuration
  command: squid -k parse
  changed_when: no

- name: restart squid
  service:
    name: "{{ squid_service }}"
    state: restarted
  when:
    - ansible_virtualization_type != "docker" or squid_ignore_docker
